@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--transparent: rgba(0,0,0,0);

	--white: rgba(255,255,255,1);
	--black: rgba(0,0,0,1);
	--nearWhite: #f2f2f2;
	--nearBlack: #222222;

	/* --male: #0E56F2;
	--female: #FF1492; */
	--male: #255EDB;
	--female: #E62A8E;
	--pump: #523500;
	--street: #e5e5e5;
	--label: #ccc;
	--bars: #52525b;

	font-family: sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	
}

*, 
*:before, 
*:after {
	box-sizing: border-box;
}

img {
  	pointer-events: none;
}

body {
	line-height: 1;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
}

.legend label {
	cursor: pointer;
}

.legend input {
	margin: 0;
}

.pie path {
	stroke: var(--black);
	stroke-width: 1px;
}

.pie .label {
	font-size: 14px;
	font-weight: 700;
	text-anchor: middle;
}

.pie .label.genders {
	fill: var(--white);
}

.bar {
	fill: var(--white);
	cursor: pointer;
	/* opacity: .35; */
	stroke: black;
	stroke-width: 2px;
}

.bar:hover,
.bar.active {
	opacity: 1;
}

.draggabilly {
	height: calc(100% - 78px);
	transform: translateY(78px);
	z-index: 40;
	pointer-events: none;
}

.draggies {
	left: 16px;
	z-index: 30;
	pointer-events: auto;
}

.draggies .handle {
	min-width: 150px;
	cursor: pointer;
}

.draggies .content {
	display: none;
}

.draggies .active {
	display: block;
}

.filters {
	top: 60px;
}

.genders {
	top: 110px;
}

.ages {
	top: 160px;
}

.map {
	background: var(--white);
}

/* .map .streets {
	transform: rotate(1deg);
} */

.map .streets path {
	stroke: var(--street);
	fill: none;
}

.map .pump {
	position: relative;
	z-index: 10;
	cursor: pointer;
	fill: var(--pump);
	stroke: var(--pump);
	stroke-width: .5px;
	stroke-linejoin: round;
}

.map .pump:hover {
	stroke: rgba(0,0,0,.75);
	stroke-width: 1px;
}

.map .death {
	cursor: pointer;
	display: none;
}

.map .death.show {
	display: block;
}

.map .death:hover {
	stroke: rgba(0,0,0,.75);
	stroke-width: .5px;
}

.map .death.hover {
	stroke-width: 3px;
	stroke: var(--bars);
}

.map .death.female--hide,
.map .death.male--hide,
.map .death.age0--hide,
.map .death.age1--hide,
.map .death.age2--hide,
.map .death.age3--hide,
.map .death.age4--hide,
.map .death.age5--hide,
.map .pump--hide,
.map .street--hide,
.map .snowmap--hide,
.map .label--hide,
.map .grid--hide {
	display: none;
}

.map .male {
	fill: var(--male);
}

.map .female {
	fill: var(--female);
}

.map .labels .label {
	text-transform: uppercase;
	transform-origin: center center;
	font-weight: 700;
	fill: var(--label);
}

.map .snowmap {
	opacity: .3;
	/* transform: rotate(-2deg);
	transform-origin: center center; */
}

.map .grid .box {
	stroke: rgba(0,0,0,.25);
	fill: transparent;
	stroke-width: .5px;
	stroke-dasharray: 2;
}

.map .grid .label {
	font-weight: 700;
	font-size: 8px;
	fill: rgba(0,0,0,.5);
	stroke: none;
}

.map .box:hover {
	fill: rgba(0, 0, 0, 0.1);
}

.map .legend rect {
	fill: var(--white);
	stroke: var(--street);
	stroke-width: 2px;
}

.map .legend text {
	text-transform: uppercase;
	font-weight: 700;
}


.drawer.active {
	transform: translateX(0);
}

.range-slider__thumb[data-disabled] {
	display: none;
}
.range-slider__thumb[data-disabled] ~ .range-slider__range {
	margin-left: -12px;
}