:root {
	--transparent: rgba(0,0,0,0);
	--white: rgba(255,255,255,1);
	--black: rgba(0,0,0,1);
	font-family: sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

*, 
*:before, 
*:after {
	box-sizing: border-box;
	user-select: none;
}

img {
  	pointer-events: none;
}

body {
	line-height: 1;
	background: var(--white);
	color: var(--black);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

.master {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.tooltip {
	position: absolute;
	left: 10px;
	top: -20px;
	font-size: 14px;
	background: rgba(0,0,0, .75);
	padding: 10px;
	color: #fff;
	pointer-events: none;
	opacity: 0;
}

.map {
	background: #fff;
	width: 100%;
	height: 100%;
	/* transform: scaleX(-1); */
}

.map g {
	/* transform: translate(-140px, -120px); */
}

.streets {
}

.streets path {
	stroke: #999;
}