:root {
	--transparent: rgba(0,0,0,0);

	--white: rgba(255,255,255,1);
	--black: rgba(0,0,0,1);

	--male: steelblue;
	--female: hotpink;
	--pump: blue;
	--street: #ccc;

	font-family: sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

*, 
*:before, 
*:after {
	box-sizing: border-box;
	user-select: none;
}

img {
  	pointer-events: none;
}

body {
	line-height: 1;
	background: var(--white);
	color: var(--black);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

.master {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.tooltip {
	position: absolute;
	left: 20px;
	top: -20px;
	font-size: 14px;
	background: var(--black);
	padding: 10px;
	color: var(--white);
	pointer-events: none;
	opacity: 0;
	z-index: 30;
}

.header {
	display: grid;
	align-items: flex-end;
	font-weight: 700;
	background: var(--black);
	color: var(--white);
	box-shadow: 0 0 10px var(--black);
	padding: 10px 15px;
	position: fixed;
	font-size: 24px;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 30;
	gap: 5px;
}

.header em {
	display: block;
	font-size: 16px;
	font-weight: 400;
}

.header a {
	color: var(--white);
	font-weight: 700;
	font-size: 12px;
}

.controls {
	position: fixed;
	top: 64px;
	left: 0;
	width: 100%;
	padding: 10px;
	z-index: 20;
	background: var(--black);
	color: var(--white);
	border-bottom: 1px solid var(--street);
}

.filters {
	display: flex;
	gap: 10px;
	justify-content: center;
}

.filters label {
	cursor: pointer;
	font-size: 14px;
}

.filters label[class] {
	padding: 3px 6px;
}

.filters .male {
	background: var(--male);
	color: var(--white);
}

.filters .female {
	background: var(--female);
}

.filters .pump {
	background: var(--pump);
	color: var(--white);
}

.filters .street {
	background: var(--street);
}

.charts {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 30;
	/* background: var(--black);
	border: 1px solid var(--street);
	box-shadow: 0 0 10px var(--street);
	border-width: 1px 0 1px 1px; */
	display: grid;
	gap: 10px;
	padding: 10px;
	align-items: center;
	justify-content: center;
}

.charts .chart {
	text-align: center;
	font-weight: 700;
}

.pie path {
	stroke: var(--black);
	stroke-width: 1px;
}

.pie .title {
	font-size: 20px;
	font-weight: 700;
	text-anchor: middle;
	fill: var(--white);
}

.pie .label {
	font-size: 12px;
	text-anchor: middle;
}

.map {
	background: var(--black);
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
}

.map .female--hide,
.map .male--hide,
.map .age0--hide,
.map .age1--hide,
.map .age2--hide,
.map .age3--hide,
.map .age4--hide,
.map .age5--hide,
.map .pump--hide,
.map .street--hide,
.map .snowmap--hide {
	display: none;
}

/* .map .streets {
	transform: rotate(1deg);
} */

.map .streets path {
	stroke: var(--street);
}

.map .pump {
	position: relative;
	z-index: 10;
	width: 8px;
	height: 8px;
	transform: translate(-4px, -4px);
	cursor: pointer;
}

.map .death {
	cursor: pointer;
}

.map .death:hover {
	stroke: var(--black);
	stroke-width: 1px;
}

.map .male {
	fill: var(--male);
}

.map .female {
	fill: var(--female);
}

.map .label {
	text-transform: uppercase;
	transform-origin: center center;
	font-weight: 700;
	fill: var(--street);
	font-style:italic;
}

.map .snowmap {
	opacity: .5;
	/* transform: rotate(-2deg);
	transform-origin: center center; */
}

.map .credit {
	font-style: italic;
	font-size: 10px;
	text-transform: lowercase;
	fill: var(--street);
	cursor: pointer;
}

.map .credit:hover {
	fill: var(--black);
}

#my_dataviz {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index:500;
}